<%- include('partials/header') -%>

    <div class="window">

        <div class="appBar">
            <div class="urlBlock">
                <p>blog-website.com</p>
            </div>
        </div>

        <div class="body">

            <div class="navbar">
                <div id="website-name">
                    <p>Blog Website</p>
                </div>
                <div id="navlinks-container">
                    <div id="navlinks">
                        <a href="">Home</a>
                        <a href="">About Us</a>
                        <a href="">Contact Us</a>
                    </div>
                </div>
            </div>

            <h2 id="heading">Home</h2>

            <p id="heading-para">
                <%= homeStartingContent %>
            </p>

        </div>

    </div>

<%- include('partials/footer') -%>