<%- include('partials/header', {link: '/' + post.title }) -%>

    <h1 id="heading">
        <%= post.title %>
    </h1>

    <p id="heading-para">
        <%= post.body %>
    </p>

<%- include('partials/footer') -%>